In [1]:
import IHaskell.Tables.Data

In [2]:
tabular [ [ ["Bla", "blubb"]
          , ["Foo", "bar"  ]
          , ["Baz"]
          ]                , [["Muh"]], [["hiss"], ["sting", "qeek"]] ]

<table>
    <td>
        <table>
            <tr>
                <td>
                    Bla
                </td>
                <td>
                    blubb
                </td>
            </tr>
            <tr>
                <td>
                    Foo
                </td>
                <td>
                    bar
                </td>
            </tr>
            <tr>
                <td>
                    Baz
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table>
            <tr>
                <td>
                    Muh
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table>
            <tr>
                <td>
                    hiss
                </td>
            </tr>
            <tr>
                <td>
                    sting
                </td>
                <td>
                    qeek
                </td>
            </tr>
        </table>
    </td>
</table>

In [3]:
tableWithLegend
    ("Stuff", "fuzz"          )
  [ (     17, "silver bullets")
  , (     42, "lives"         )
  , ( -32768, "overflows"     ) ]  :: Table [(Int, String)]

<table>
    <thead>
        <tr>
            <td>
                Stuff
            </td>
            <td>
                fuzz
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                17
            </td>
            <td>
                silver bullets
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                lives
            </td>
        </tr>
        <tr>
            <td>
                -32768
            </td>
            <td>
                overflows
            </td>
        </tr>
    </tbody>
</table>

In [4]:
tableWithLegend
    ( ("k","n"), "k^n" )
  [ ( ( k , n ),  k^n  )
  | k <- [1 .. 3 :: Int]
  , n <- [2 .. 4 :: Int] ]

<table>
    <thead>
        <tr>
            <td>
                k
            </td>
            <td>
                n
            </td>
            <td>
                k^n
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                1
            </td>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                3
            </td>
            <td>
                1
            </td>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                4
            </td>
            <td>
                1
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                2
            </td>
            <td>
                4
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                3
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                4
            </td>
            <td>
                16
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                2
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                3
            </td>
            <td>
                27
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                4
            </td>
            <td>
                81
            </td>
        </tr>
    </tbody>
</table>

In [6]:
tableWithLegend
     ( ("k","n"), "k^n" )
 [ [ ( ( k , n ),  k^n  )
   | k <- [1 .. 3 :: Int] ]
 | n <- [2 .. 4 :: Int]     ]

<table>
    <thead>
        <td>
            <table>
                <td>
                    k
                </td>
                <td>
                    n
                </td>
                <td>
                    k^n
                </td>
            </table>
        </td>
    </thead>
    <tbody>
        <td>
            <table>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        9
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        8
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        27
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        16
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        81
                    </td>
                </tr>
            </table>
        </td>
    </tbody>
</table>